<script setup lang="ts">
import {RouterView} from 'vue-router';
import MenuComponent from '@/components/MenuComponent.vue';
import {Toaster} from 'vue-sonner';
</script>

<template>
  <MenuComponent/>
  <RouterView />
  <Toaster rich-colors/>
</template>
