<script setup lang="ts">
import {onMounted, ref} from 'vue';
import * as httpService from '@/services/http-service';
import {Table, TableBody, TableCell, TableHead, TableHeader, TableRow,} from '@/components/ui/table';
import {Button} from '@/components/ui/button';
import AddBucketComponent from '@/components/AddBucketComponent.vue';
import {toast} from 'vue-sonner';

let buckets = ref<S3Bucket[]>([]);

const computedDate = (date: string) => {
  const dateObj = new Date(date);
  return `${dateObj.toLocaleDateString()} ${dateObj.toLocaleTimeString()}`;
};

function deleteBucket(bucketName: string) {
  httpService
      .deleteBucket(bucketName)
      .then(() => {
        toast.success(`Bucket ${bucketName} deleted successfully`);
        refreshBuckets();
      })
      .catch((error) => {
        toast.error(`Error deleting bucket ${bucketName}: ${error}`);
      });
}

async function refreshBuckets() {
  buckets.value = await httpService.listBuckets();
}

onMounted(() => {
  refreshBuckets();
});
</script>

<template>
  <main>
    <div class="flex gap-2 justify-end">
      <Button @click="refreshBuckets">Refresh</Button>
      <AddBucketComponent/>
    </div>
    <Table>
      <TableHeader>
        <TableRow>
          <TableHead>Bucket Name</TableHead>
          <TableHead class="text-center">CreationDate</TableHead>
          <TableHead>Actions</TableHead>
        </TableRow>
      </TableHeader>
      <TableBody>
        <TableRow v-for="bucket in buckets" :key="bucket.Name">
          <TableCell>
            <router-link :to="{ name: 'bucket', params: { bucketName: bucket.Name } }">
              {{ bucket.Name }}
            </router-link
            >
          </TableCell>
          <TableCell class="text-center">{{ computedDate(bucket.CreationDate) }}</TableCell>
          <TableCell>
            <Button @click="deleteBucket(bucket.Name)">Delete</Button>
          </TableCell>
        </TableRow>
      </TableBody>
    </Table>
  </main>
</template>
