<script setup lang="ts">
import {computed, onMounted, ref} from 'vue';
import * as httpService from '@/services/http-service';
import {useRoute} from 'vue-router';
import {filesToIgnore} from '@/constants';
import {Button} from '@/components/ui/button';
import {Input} from '@/components/ui/input';
import {Table, TableBody, TableCell, TableHead, TableHeader, TableRow,} from '@/components/ui/table';
import AddPrefixComponent from '@/components/AddPrefixComponent.vue';
import {toast} from 'vue-sonner';

const route = useRoute();

const objects = ref<S3Object[]>([]);
const filterText = ref<string>('');

const filteredObjects = computed(() => {
  if (filterText.value) {
    return objects.value.filter((object) => object.Key.includes(filterText.value));
  } else {
    return objects.value;
  }
});

const computedDate = (date: string) => {
  const dateObj = new Date(date);
  return `${dateObj.toLocaleDateString()} ${dateObj.toLocaleTimeString()}`;
};

function uploadObject(prefix: string, item: File) {
  httpService
      .uploadObject(route.params.bucketName as string, prefix, item)
      .then(() => {
        toast.success(`File ${item.name} uploaded successfully`);
        refreshFiles();
      })
      .catch((e: any) => {
        toast.error(`File ${item.name} upload failed: ${e.message}`);
      });
}

function traverseFileTree(item: FileSystemEntry, path: string) {
  if (item.isFile) {
    if (filesToIgnore.includes(item.name)) return;
    const file = item as FileSystemFileEntry;
    file.file((file) => {
      uploadObject(path, file);
    });
  } else if (item.isDirectory) {
    const directory = item as FileSystemDirectoryEntry;
    const directoryReader = directory.createReader();
    directoryReader.readEntries((entries) => {
      for (const entry of entries) {
        traverseFileTree(entry, `${path}${directory.name}/`);
      }
    });
  }
}

function handleDrop(event: DragEvent) {
  event.preventDefault();
  if (!event.dataTransfer) return;
  const items = event.dataTransfer.items;
  for (const item of items) {
    const entry = item.webkitGetAsEntry();
    if (!entry) continue;
    traverseFileTree(entry, '');
  }
  refreshFiles();
}

async function handleDragOver(event: DragEvent) {
  event.preventDefault();
}

async function downloadObject(key: string) {
  try {
    const url = await httpService.downloadObject(route.params.bucketName as string, key);
    const link = document.createElement('a');
    link.href = url;
    const fileName = key.split('/').pop() ?? key;
    link.setAttribute('download', fileName);
    document.body.appendChild(link);
    link.click();
    document.body.removeChild(link);
  } catch (e: any) {
    toast.error('Download failed', e.message);
  }
}

function deleteObject(fileName: string) {
  httpService
      .deleteObject(route.params.bucketName as string, fileName)
      .then(() => {
        toast.success(`File ${fileName} deleted successfully`);
        refreshFiles();
      })
      .catch((e: any) => {
        toast.error(`File ${fileName} delete failed`, e.message);
      });
}

async function refreshFiles() {
  objects.value = await httpService.listObjects(route.params.bucketName as string);
}

onMounted(() => {
  refreshFiles();
});
</script>
<template>
  <main @drop="handleDrop" @dragover="handleDragOver" class="h-screen flex flex-col gap-2 p-4">
    <div class="flex gap-2 justify-end">
      <Button @click="refreshFiles">Refresh</Button>
      <AddPrefixComponent @close="refreshFiles"/>
    </div>
    <div class="flex w-72">
      <Input type="text" v-model="filterText" placeholder="Filter by object key"/>
    </div>
    <Table>
      <TableHeader>
        <TableRow>
          <TableHead>Object Key</TableHead>
          <TableHead class="text-center">Last Modified</TableHead>
          <TableHead class="text-center">Size</TableHead>
          <TableHead class="text-center">Actions</TableHead>
        </TableRow>
      </TableHeader>
      <TableBody>
        <TableRow v-for="s3Object in filteredObjects" :key="s3Object.Key">
          <TableCell>{{ s3Object.Key }}</TableCell>
          <TableCell class="text-center">{{ computedDate(s3Object.LastModified) }}</TableCell>
          <TableCell class="text-center">{{ s3Object.Size }}</TableCell>
          <TableCell class="flex gap-2 justify-between">
            <Button @click="downloadObject(s3Object.Key)">Download</Button>
            <Button @click="deleteObject(s3Object.Key)">Delete</Button>
          </TableCell>
        </TableRow>
      </TableBody>
    </Table>
  </main>
</template>
