<script setup lang="ts">
import {Button} from '@/components/ui/button';
import {Input} from '@/components/ui/input';
import {Label} from '@/components/ui/label';
import {
  Sheet,
  SheetClose,
  SheetContent,
  SheetDescription,
  SheetFooter,
  SheetHeader,
  SheetTitle,
  SheetTrigger,
} from '@/components/ui/sheet';
import * as httpService from '@/services/http-service';
import {useRoute} from 'vue-router';
import {ref} from 'vue';
import {toast} from 'vue-sonner';

const route = useRoute();

const emit = defineEmits(['close']);

const bucketName = ref<string>('');

async function createBucket() {
  if (!bucketName.value) {
    return;
  }
  httpService
      .createBucket(bucketName.value)
      .then(() => {
        bucketName.value = '';
        toast.success(`Bucket ${bucketName.value} created successfully`);
        emit('close');
      })
      .catch((error) => {
        toast.error(`Error creating bucket ${bucketName.value}: ${error}`);
      });
}
</script>

<template>
  <Sheet>
    <SheetTrigger as-child>
      <Button> Create Bucket</Button>
    </SheetTrigger>
    <SheetContent>
      <SheetHeader>
        <SheetTitle>Create bucket</SheetTitle>
        <SheetDescription> Create a new bucket</SheetDescription>
      </SheetHeader>
      <div class="grid gap-4 py-4">
        <div class="grid grid-cols-4 items-center gap-4">
          <Label for="name" class="text-right"> Bucket name </Label>
          <Input id="name" v-model="bucketName" class="col-span-3"/>
        </div>
      </div>
      <SheetFooter>
        <SheetClose as-child>
          <Button :disabled="!bucketName" type="submit" @click="createBucket()"> Create</Button>
        </SheetClose>
      </SheetFooter>
    </SheetContent>
  </Sheet>
</template>
