<script setup lang="ts">
import {Button} from '@/components/ui/button';
import {Input} from '@/components/ui/input';
import {Label} from '@/components/ui/label';
import {
  Sheet,
  SheetClose,
  SheetContent,
  SheetDescription,
  SheetFooter,
  SheetHeader,
  SheetTitle,
  SheetTrigger,
} from '@/components/ui/sheet';
import * as httpService from '@/services/http-service';
import {useRoute} from 'vue-router';
import {ref} from 'vue';
import {toast} from 'vue-sonner';

const route = useRoute();

const emit = defineEmits(['close']);

const prefix = ref<string>('');

function addPrefix() {
  if (prefix.value) {
    httpService
        .addPrefix(route.params.bucketName as string, prefix.value)
        .then(() => {
          prefix.value = '';
          emit('close');
        })
        .catch((error) => {
          toast.error(`Error creating prefix ${prefix.value}: ${error}`);
        });
  }
}
</script>

<template>
  <Sheet>
    <SheetTrigger as-child>
      <Button> Add prefix</Button>
    </SheetTrigger>
    <SheetContent>
      <SheetHeader>
        <SheetTitle>Create prefix</SheetTitle>
        <SheetDescription> Add a new prefix to the bucket</SheetDescription>
      </SheetHeader>
      <div class="grid gap-4 py-4">
        <div class="grid grid-cols-4 items-center gap-4">
          <Label for="name" class="text-right"> Prefix </Label>
          <Input id="name" v-model="prefix" class="col-span-3"/>
        </div>
      </div>
      <SheetFooter>
        <SheetClose as-child>
          <Button :disabled="!prefix" type="submit" @click="addPrefix()"> Create</Button>
        </SheetClose>
      </SheetFooter>
    </SheetContent>
  </Sheet>
</template>
