<script setup lang="ts">
import {
  NavigationMenu,
  NavigationMenuItem,
  NavigationMenuList,
  navigationMenuTriggerStyle,
} from '@/components/ui/navigation-menu';
</script>

<template>
  <NavigationMenu class="pb-5">
    <NavigationMenuList>
      <NavigationMenuItem>
        <RouterLink
            class=""
            active-class="bg-accent"
            :class="navigationMenuTriggerStyle()"
            :to="{ name: 'listBuckets' }"
        >
          Bucket List
        </RouterLink>
      </NavigationMenuItem>
    </NavigationMenuList>
  </NavigationMenu>
</template>
